* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-size: 16px;
  font-family: sans-serif;
}

.container {
  margin: 0 auto;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.container h1 {
  text-align: center;
}

.board {
  list-style-type: none;
  margin: 0 auto;
  padding: 1em;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: auto;
  border-radius: 5px;
  gap: 10px;
  background-color: purple;
}

.card {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 150px;
  border: 3px solid white;
  border-radius: 5px;
  color: blue;
  font-size: 1px;
  background-color: blue;
  cursor: pointer;
}

.card:active {
  transform: scale(0.90);
  transition: transform 0.2s;
}

.flipped {
  background-color: #272727;
  color: white;
  font-size: 4rem;
}

.match {
  background-color: gold;
}

.mismatch {
  background-color: red;
}

.match:hover,
.mismatch:hover {
  cursor: not-allowed;
}

.message {
  text-align: center;
  padding: 10px;
}

.message > svg {
  font-size: 4rem;
  color: gold;
  margin-top: 2rem;
}

.message > button {
  margin-bottom: 2rem;
}

.modal {
  position: absolute;
  top: 50%;
  left: 50%;
  right: auto;
  bottom: auto;
  margin-right: -50%;
  transform: translate(-50%, -50%);
  background-color: whitesmoke;
  padding: 10px;
}

@media screen and (max-width:359px) {
  header {
    margin-bottom: 10px;
  }

  .board {
    max-width: 95%;
    gap: 5px;
    padding: 5px;
  }

  .card {
    height: 120px;
  }

  .flipped {
    font-size: 2rem;
  }
}

@media screen and (min-width: 360px) {
  .board {
    max-width: 95%;
  }

  .card {
    height: 130px;
  }

  .flipped {
    font-size: 2.2rem;
  }
}

@media screen and (min-width: 700px) {
  header {
    margin: 20px 0;
  }

  .board {
    max-width: 95%;
  }

  .card {
    height: 200px;
  }

  .flipped {
    font-size: 4rem;
  }
}

@media screen and (min-width: 1000px) {
  header {
    margin: 20px 0;
  }

  .board {
    max-width: 600px;
  }

  .card {
    height: 150px;
  }

  .flipped {
    font-size: 5rem;
  }
}